@model BillTracker.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Welcome to User Page</h2>


<table class="table table-borderless table-hover" style="background-color:white">
    <tr>
        @*        <th scope="col">
                @Html.DisplayNameFor(model => model.User.Email)
            </th>*@
        <th scope="col">
            Username
        </th>
        <th scope="col">
            Edit
        </th>
        <th scope="col">
            Delete
        </th>
    </tr>

    @foreach (var user in ViewBag.Users)
    {
        <tr>
            @*            <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>*@
            <td>
                @user.UserName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = user.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = user.Id })
            </td>
        </tr>
    }

</table>


